.search-input-wrapper{width:87%; margin-top:7px; float:right; margin-right:4%;}
.search-input-wrapper input{padding-left:12%;padding-right: 12%; line-height: 20px;}
.com-head .fdj{left:12%;cursor: pointer;}
.com-head .delete-search{cursor:pointer; position: absolute; bottom:13px;right:7%;}
.search-history{width:100%; }
.search-history ul{background:#fff;}
.search-history ul li{height:50px; width:100%; padding:0 4%; font-size:14px; border-bottom:1px solid #e8e8e8; cursor:pointer;}
.search-history ul li h2{font-size:13px; color:#999999; font-weight:normal;}
.search-history ul li h1{font-weight: normal; margin-top:4px;margin-bottom:2px;}
.search-history ul li span{line-height: 50px;}
.search-history ul li p{line-height: 50px; text-align:center; color:#7db147;cursor: pointer;}
.search-history h3{width:100%; text-align: center; font-size:14px; margin-top:150px; font-weight:normal;}
.tangram-suggestion-main{z-index:70;}/*联想层的z-index值*/
.list-wrapper .list-loading{position: absolute; text-align:center;width:150px;top:50%;left:50%;margin-left:-75px;margin-top:-120px;}
.list-wrapper .list-loading img{width:90px;}
.list-wrapper .list-loading p{text-align:center;margin-top:30px;margin-left:13px;}
.refresh{width: 80px; height: 30px; background: #7DAF4D; margin: 0 auto; margin-top: 20px; line-height: 30px;color: #fff;font-size: 14px;border-radius: 5px;cursor: pointer;}
